<template>
    <div class="page page--index">

        <hero
            :copy="pageData.body"
        />

        <poster-grid
            :bulletsData="bulletsData"
        />

        <services />
        <app-logo />

    </div>

</template>

<script>
    // Import Components
    import GetAbsoluteUrl from '../assets/js/snippets/GetAbsoluteUrl';
    import Navigation from '../components/Navigation.vue';
    import Hero from '../components/Hero.vue';
    import PosterGrid from '../components/PosterGrid.vue';
    import Services from '../components/Services.vue';
    import AppLogo from '../components/AppLogo.vue';

    export default {
        name: 'Index',
        props: [
            'data'
        ],
        metaInfo() {
            return {
                title: 'helloooo',
                meta: [
                    {name: 'description', content: this.pageData.body[0].p},
                    // Open Graph
                    {property: 'og:title', content: this.pageData.title},
                    {property: 'og:description', content: this.pageData.body[0].p},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: this.pageUrl(this, false)},
                    {property: 'og:image', content: this.assetUrl(this, this.pageData.thumb, false)},
                    // Twitter Card
                    {name: 'twitter:card', content: 'summary_large_image'},
                    {name: 'twitter:site', content: ''},
                    {name: 'twitter:title', content: this.pageData.title},
                    {name: 'twitter:description', content: this.pageData.body[0].p},
                    {name: 'twitter:image', content: this.assetUrl(this, this.pageData.thumb, false)},
                ],
            }
        },
        computed: {
            pageData() {
                return this.data.index;
            },
            bulletsData() {
                return this.data.bullets;
            }
        },
        components: {
            'hero': Hero,
            'poster-grid': PosterGrid,
            'services': Services,
            'app-logo': AppLogo,
        },
        methods: {
            pageUrl(context, encode) {
                return GetAbsoluteUrl(context, context.$route.path, encode);
            },
            assetUrl(context, assetPath, encode) {
                return GetAbsoluteUrl(context, require('../assets/images/' + assetPath), encode);
            }
        }

    }
</script>
