<template>

    <div class="container component--bullet">
        <div class="page page--bullet row no-gutters align-items-center">

            <div class="bullet-img__col col-12 col-md-5 col-xl-4">
                <img class="bullet-img img-fluid mb-3" :src="require('../assets/images/' + this.pageData.img)">
                <a v-if="this.pageData.poster" class="bullet-img__dl-link" :href="require('../assets/images/' + this.pageData.poster)" download><i class="bullet-img__icon fas fa-download"></i>Download the Poster</a>
                <div class="bullet-nav">
                    <div class="d-flex justify-content-between">
                        <a class="left" :href="'/' + this.getPreviousBullet()">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a class="right" :href="'/' + this.getNextBullet()">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7 col-xl-8">
                <div class="bullet--content-wrapper">
                    <h1 v-html="this.pageData.title" class="mt-3"></h1>
                    <p class="bullet-counter" v-html="this.pageData.tags"></p>
                    <div class="bullet-copy mb-3">

                        <!-- if video -->
                        <div v-if="this.pageData.video" class="embed-responsive embed-responsive-16by9 mb-3">
                            <iframe class="embed-responsive-item" :src="this.pageData.video"></iframe>
                        </div>

                        <!-- body copy -->
                        <p v-for="item in this.pageData.body" :key="item.index" v-html="item.p"></p>

                        <!-- if cite -->
                        <p v-if="this.pageData.cite" class="bullet__cite mb-3" v-html="this.pageData.cite"></p>
                        <p v-if="this.pageData['cite-two']" class="bullet__cite mb-3" v-html="this.pageData['cite-two']"></p>
                        <p v-if="this.pageData['cite-three']" class="bullet__cite mb-3" v-html="this.pageData['cite-three']"></p>

                        <!-- if list -->
                        <ul v-if="this.pageData.list">
                            <li v-for="item in this.pageData.list" :key="item.index" v-html="item.li"></li>
                        </ul>

                        <!-- if cta -->
                        <cta v-if="this.pageData.cta"
                            :illinois="this.pageData.illinois"
                        />

                        <!-- if link -->
                        <ul v-if="this.pageData.link">
                            <li class="cta__li-label" v-html="this.pageData.link[0].label"></li>
                            <li class="cta__li-link"><a v-html="this.pageData.link[1].a" :href="this.pageData.link[1].a" target="_blank"></a></li>
                        </ul>
                    </div>
  
                </div>
            </div>

        </div>

    </div>

</template>

<script>
    import GetAbsoluteUrl from '../assets/js/snippets/GetAbsoluteUrl';

    export default {
        name: 'Bullet',
        props: [
            'data'
        ],
        metaInfo() {
            return {
                title: this.pageData.title,
                meta: [
                    {name: 'description', content: this.pageData.body[0].p},
                    // Open Graph
                    {property: 'og:title', content: `Bullet ${this.getBullet} of 31: ${this.pageData.title}`},
                    {property: 'og:description', content: this.pageData.body[0].p},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: this.pageUrl(this, false)},
                    {property: 'og:image', content: this.computedMetaImage},
                    // Twitter Card
                    {name: 'twitter:card', content: 'summary_large_image'},
                    {name: 'twitter:site', content: ''},
                    {name: 'twitter:title', content: `Bullet ${this.getBullet} of 31: ${this.pageData.title}`},
                    {name: 'twitter:description', content: this.pageData.body[0].p},
                    {name: 'twitter:image', content: this.computedMetaImage}
                ],
            }
        },
        components: {
            'cta': CTA
        },
        methods: {
            pageUrl(context, encode) {
                return GetAbsoluteUrl(context, context.$route.path, encode);
            },
            assetUrl(context, assetPath, encode) {
                return GetAbsoluteUrl(context, require('../assets/images/' + assetPath), encode);
            },
            getNextBullet() {
                let nid = this.getBullet + 1;
                return (nid <= this.activeBullets) ? nid : 1;
            },
            getPreviousBullet() {
                let pid = this.getBullet - 1;
                return (pid >= 1) ? pid : this.activeBullets;
            }
        },
        computed: {
            pageData() {
                if (this.data.bullets[this.$route.params.bullet_id]) {
                    return this.data.bullets[this.$route.params.bullet_id];
                } else {
                    console.warn("ID NOT FOUND:", this.$route.params.bullet_id);
                    window.location = "/";
                }
            },
            computedMetaImage() {
                return this.assetUrl(this, this.pageData.thumb, false)
            },
            activeBullets() {
                const bullets = this.data.bullets;
                const now = new Date();
                let totalActive = 0;

                if (/(?:local|stage)/.test(window.location.hostname)) {
                    return Object.keys(bullets).length;
                }

                for (let bullet of Object.keys(bullets)) {
                    if (Date.parse(bullets[bullet].enabledOn) <= now) {
                        totalActive++;
                    }
                }

                return totalActive;
            },
            getBullet() {
                return parseInt(this.$route.params.bullet_id);
            },
            activeDate() {
                return Date.parse(this.pageData.enabledOn);
            }
        },
        beforeMount() {
            if (typeof navigator !== 'undefined'
                && navigator.plugins.length > 0
                && !/(?:local|stage)/.test(window.location.hostname)) {
                if (this.activeDate > new Date()) {
                    window.location = '/';
                }
            }
        }
    }
</script>
