<template>
    <section class="component component--hero">
        <div class="hero hero--red container-fluid">
            <div class="hero__fixed-container">

                <div class="hero__row hero__copy-row">
                    <div class="hero__copy-col">
                        <h2 class="hero__copy-1" v-html="this.copy[0].p"></h2>
                        <!-- <h2 class="hero__copy-1" v-html="this.copy[1].p"></h2> -->
                    </div>
                </div>

            </div>
            <div class="hero__arrow--down">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </section>
</template>

<script>

    // Local Scope
    export default {

        props: [
            'copy'
        ],
    }

</script>
