<template>
    <nav class="component component--navigation">
        <ul class="nav">
            <li class="nav-item">
                <a class="" href="/">HELLO</a>
            </li>
            <li class="nav-item nav-item--internal">
                <a class="" href="/about">ABOUT</a>
            </li>
            <li class="nav-item nav-item--internal">
                <a class="" href="/readmore">READ MORE</a>
            </li>
            <li class="nav-item">
                <a class="" href="https://chicago.suntimes.com/" target="_blank"></a>
            </li>
        </ul>
    </nav>
</template>

<script>


</script>
