<template>
    <section class="component component--poster-grid">
        <div class="component--heading">
        <h1 class="heading">PROJECTS</h1>
        </div>
        <div class="poster-grid">
            <poster-tile
                v-for="(bullet, index) in bullets"
                :key="bullet.title"
                :title="bullet.title"
                :body="bullet.body"
                :img="bullet.img"
                :thumb="bullet.thumb"
                :tags="bullet.tags"
                :enabledOn="bullet.enabledOn"
                :index="index"
            />

            <a href="/about" class="poster-tile poster-tile__last-child">
                <div class="poster-tile__content">
                    <h2> Like what you see? Let's talk.</h2>
                    <button> Get in touch </button>
                </div>
            </a>

        </div>
    </section>
</template>

<script>

    // Import Components and or plugins
    import PosterTile from '../components/PosterTile.vue';

    // Local Scope
    export default {

        props: [
            'bulletsData'
        ],

        components: {
            'poster-tile': PosterTile
        },

        computed: {
            bullets: function () {
                return this.bulletsData;
            }
        },

    }
</script>
