<template>
    <a v-if="this.isEnabled" class="poster-tile poster-tile__outer" :href="`/${this.index}`">
        <div class="poster-tile__inner">
            <div class="poster-tile__front" :style="{ 'background-image': 'url(' + computedThumb + ')' }">
            </div>
            <div class="poster-tile__back">
                <div class="poster-tile__back-content">
                    <div class="poster-tile__back-content--inner">
                        <h3 class="poster-tile__title" v-html="this.title"></h3>
                        <p class="poster-tile__description" v-html="this.truncatedText"></p>
                        <span v-html="this.tags"></span>
                    </div>

                </div>
            </div>
        </div>
    </a>
</template>

<script>

    import GetAbsoluteUrl from '../assets/js/snippets/GetAbsoluteUrl';

    export default {

        props: [
            'enabledOn',
            'img',
            'thumb',
            'tags',
            'title',
            'body',
            'url',
            'index'
        ],

        computed: {
            computedMetaImage() {
                return this.assetUrl(this, this.thumb, false)
            },
            computedThumb() {
                if (this.thumbGIF) {
                    return require('../assets/images/' + this.thumbGIF);
                } else {
                    return require('../assets/images/' + this.thumb);
                }
            },
            truncatedText() {
                if (this.body[0].p.length < 250) {
                    return this.body[0].p;
                } else {
                    return this.body[0].p.replace(/^(.{250}[^\s]*).*/, "$1") + "...";
                }
            },
            isEnabled() {
                if (/(?:local|stage)/.test(window.location.hostname)) {
                    return true;
                }

                const now = new Date();
                const enabledDate = Date.parse(this.enabledOn);
                if (enabledDate <= now) {
                    return true;
                }
            }
        },

        methods: {
            assetUrl(context, assetPath, encode) {
                return GetAbsoluteUrl(context, require('../assets/images/' + assetPath), encode);
            },
            addFlipClass() {
                let item = this.$el;
                if (window.matchMedia("(min-width: 768px)").matches) {
                    /* the viewport is at least 768 pixels wide */
                } else {
                    /* the viewport is less than 768 pixels wide */
                    if (item.classList.contains('flipped')) {
                        item.classList.remove('flipped');
                    } else {
                        item.classList.add('flipped');
                        window.bullet.initUnflipper();
                    }
                }
            }
        }
    }

</script>
