<template>
    <div class="container">
        <div class="component--heading">
            <h1 class="heading">wha</h1>
        </div>
        <div class="skills-tools__container">
            <div class="section-title">
                <div class="section-title__column"><h2>SKILLS</h2></div>
            </div>
            <div class="shortlist shortlist--split"><h5 class="shortlist__title">DEVELOPMENT</h5>
                <ul class="shortlist__list">
                    <li>Front-end frameworks</li>
                    <li>Rapid prototyping</li>
                    <li>Semantic mark-up</li>
                    <li>Data visualization</li>
                    <li>Progressive enhancement</li>
                    <li>Responsive web</li>
                    <li>Browser-specific quirks</li>
                    <li>Performance across devices</li>
                    <li>Client-side optimization</li>
                </ul>
            </div>
            <div class="shortlist shortlist--split"><h5 class="shortlist__title">DESIGN</h5>
                <ul class="shortlist__list">
                    <li>User interface</li>
                    <li>User experience</li>
                    <li>Web animation</li>
                    <li>Motion graphics</li>
                    <li>Information architecture</li>
                    <li>Visual design</li>
                </ul>
            </div>
            <div class="section-title">
                <div class="section-title__column"><h2>TOOLS</h2></div>
            </div>
            <div class="shortlist shortlist--split"><h5 class="shortlist__title">DEVELOPMENT</h5>
                <ul class="shortlist__list">
                    <li>Javascript <span>es6+/typescript</span></li>
                    <li>NodeJS</li>
                    <li>Version Control <span>git</span></li>
                    <li>HTML</li>
                    <li>Task Runners <span>webpack/gulp</span></li>
                    <li>Command Line</li>
                    <li>CSS <span>postcss/sass/scss</span></li>
                    <li>GSAP/d3.js</li>
                    <li>Ruby-on-Rails</li>
                </ul>
            </div>
            <div class="shortlist shortlist--split"><h5 class="shortlist__title">DESIGN</h5>
                <ul class="shortlist__list">
                    <li>Adobe Creative Cloud</li>
                    <li>Sketch</li>
                    <li>In-browser Prototyping</li>
                </ul>
            </div>
        </div>
    </div>
</template>