/* --------------------------------------------
    BASE STYLES
-----------------------------------------------*/

*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family-sans-serif;
    &.not-found {
        background: red;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1.5s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.cta__li-read-more {
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 5px;
    line-height: 1.4;

    &--label {
        margin: 10px 0;
        line-height: 1;
    }
}

ul {
    list-style: none;
    padding: 0;
}
.component--heading {
    position: relative;
}
.heading {
    text-align: center;
    margin: 40px 0;
  }
.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px auto 20px;
    background: #4fbfa8;
  }

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
