/* --------------------------------------------
    BULLET LANDING PAGE STYLES
-----------------------------------------------*/

.component--bullet {
    height: 100vh;
    padding-top: 65px;
}

.bullet--content-wrapper {
    padding: 30px 15px;
    p {
        max-width: 500px;
    }

}

.bullet-img__col {
    border-bottom: .5px solid #ccc;
    padding-bottom: 25px;
}

.bullet-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1001;
    a {
        padding: 0 10px;
        color: white;
        font-size: 30px;
        display: block;
        &.left:hover {
            animation: arrow-hover-left .5s;
        }
        &.right:hover {
            animation: arrow-hover-right .5s;
        }
    }
}

.bullet-img__icon {
    margin-right: 5px;
}

.bullet-img__dl-link {
    margin-left: 5px;
}

.bullet-counter {
    text-align: center;
}

.about__cite,
.bullet__cite {
    font-size: 12px;
    font-style: italic;
}

@keyframes arrow-hover-left {
    0% {
        padding:0 10px;
    }
    100% {
        padding: 0 15px 0 0;
    }
}

@keyframes arrow-hover-right {
    0% {
        padding: 0 10px;
    }
    100% {
        padding: 0 0 0 15px;
    }
}

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .component--bullet {
        padding-top: 100px;
    }

    .bullet--content-wrapper {
        padding: 0 40px 0 10%;
    }

    .bullet-img__col {
        border-bottom: none;
        padding-bottom: 0;
    }

    .bullet-counter {
        text-align: left;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
