/* --------------------------------------------
    HERO
-----------------------------------------------*/

.hero {
    background-color: rebeccapurple;
    height: 225vh;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;

}

.hero__fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .hero__copy-row {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        width: 100%;

        h2 {
            font-size: 1.5rem;
        }

        .hero__copy-1 {
            opacity: 1;
            text-align: center;
        }

        .hero__copy-2 {
            position: absolute;
            top: 0;
            opacity: 0;
        }
    }
}

.hero__row {
    flex-wrap: nowrap;
}

.hero__bullet-container {
    padding-left: 0;
    padding-right: 0;
    align-self: center;

    img {
        width: 100%;
    }
}

.hero__arrow--down {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.hero__bullet-1 {
    right: 50%;
}

.hero__bullet-2 {
    left: 50%;
}

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
/*    .hero__fixed-container .hero__copy-row h2 {
        font-size: 2rem;
    }*/
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .hero__fixed-container .hero__copy-row {
        h2 {
            font-size: 2rem;
        }

        width: 50%;
        left: 50%;
    }

    .hero__fixed-container .hero__bullets-row {
        top: 60%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
