/* --------------------------------------------
    NAVIGATION
-----------------------------------------------*/

.nav {
    position: fixed;
    flex-flow: row nowrap;
    background-color: #FFF;
    width: 100%;
    z-index: 10000;
    align-items: center;
    padding: 10px 15px;
    height: 66px;

    li {
        &:nth-of-type(1) {
            padding-bottom: 5px;
        }

        &:nth-of-type(2) {
            margin-left: auto;
        }

        a {
            color: #2b2b2b;
            .bullets-logo {
                height: 18px;
            }
            .cst-logo {
                height: 10px;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-item--internal {
        padding: 2px 15px 0 0;
        font-size: 12px;
    }
}

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .nav {
        li a {
            
            .bullets-logo {
                height: 25px;
            }
            .cst-logo {
                height: 14px;
            }
        }
        .nav-item--internal {
            padding-right: 20px;
            font-size: 14px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
