/* --------------------------------------------
    POSTER GRID
-----------------------------------------------*/

.poster-grid {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: #fff;
}

.poster-tile {
    flex: 0 1 auto;
    flex-basis: 100%;
    height: 350px;
    position: relative;
    z-index: 1;

    span {
        display: block;
        text-align: center;
    }

    h3 {
        text-align: center;
        margin: 10px 0;
    }

    &.poster-tile--disabled {
        h3 {
            color: rgba(0, 0, 0, .5);
        }

        &.flipped {
            .poster-tile__front {
                transform: rotateY(-180deg);
            }
            .poster-tile__back {
                transform: rotateY(0);
            }
        }
    }
}


.poster-tile__last-child {
    background-color: $accent;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 25px;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    .cta {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    &:nth-of-type(odd) .poster-tile__front {
        background-color: rgba(46, 62, 153, .8);
    }

    &:nth-of-type(even) .poster-tile__front {
        background-color: rgba(229, 61, 35, .8);
    }

    .poster-tile__content {
        text-align: center;
        margin: 0 auto;
        
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 35px;
            line-height: 52px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            margin: 35px 0;
        }
       

        button {
            display: inline-block;
            font-family: 'Open Sans';
            background: transparent;
            color: #fff;
            font-weight: 600;
            padding: 12px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5px;
            border-radius: 4px;
            border: 2px solid;
            transition: all 200ms linear;
            

            &:hover {
                background-color: #ffffff;
                color: $accent;
                transform: scale(1.1);
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
    }
}

a.poster-tile.poster-tile__last-child {
    text-decoration: none;
            color: #fff;
            text-decoration: none;
}

.poster-tile__front,
.poster-tile__back {
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster-tile__front {
    transform-style: preserve-3d;
    background-size: cover;
    background-position: center center;
}

/*.poster-tile__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 8rem;
    color: rgba(255, 255, 255,.2);
}*/


.poster-tile__back {
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .poster-tile__back-content {
        .sharing-bar {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 15px 20px;
        }
    }

    .poster-tile__back-content--inner {
        padding: 25px;
        color: #000;
        max-width: 350px;
        margin: 0 auto;
    }

    .poster-tile__description {
        font-size: 14px;
    }
}

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .poster-tile {
        perspective: 576px;
        flex-basis: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .poster-tile {
        perspective: 768px;
        flex-basis: 33.33%;

        &:hover {
            .poster-tile__front {
                transform: rotateY(-180deg);
            }
            .poster-tile__back {
                transform: rotateY(0);
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .poster-tile {
        perspective: 992px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .poster-tile {
        perspective: 1200px;
    }
}


// Even Extra larger devices (large desktops, 1700px and up)
@media (min-width: 1700px) {
    .poster-tile {
        flex-basis: 25%;
        perspective: 1700px;
    }
}

// Even Extra larger larger devices (large desktops, 1900px and up)
@media (min-width: 1900px) {
    .poster-tile {
        flex-basis: 16.666%;
        perspective: 1900px;
    }
}
