/* --------------------------------------------
    SOCIAL SHARING COMPONENT STYLES
-----------------------------------------------*/
.sharing-bar {
    a {
        margin: 0 10px;
        transition: color 0.25s linear;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            color: #ec2429;
        }
    }
}

/* --------------------------------------------
    MEDIA QUERIES
-----------------------------------------------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
