.skills-tools__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    margin-top: calc(32px * 2);
    margin-bottom: calc(32px * 2);
    &--centered {
        text-align: center;
    }
    h2 {
        position: relative;
        display: inline-block;
        margin: 0;
        letter-spacing: .25rem;
        font-size: 1.75rem;
        line-height: .85;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            -ms-transform: translateX(110%) translateY(-.25rem);
            transform: translateX(110%) translateY(-.25rem);
            background-color: $accent;
            height: .25rem;
            width: 1rem;
        }
    }
    p {
        margin-top: calc(32px * 2);
        margin-bottom: calc(32px * 2);
        font-size: 1.25rem;
        font-weight: 300;
        max-width: 800px;
    }
}

.shortlist__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.25;
    font-size: 1.15rem;
    font-weight: 400;
}

.shortlist--split .shortlist__list {
    columns: 3;
}

.shortlist__list li {
    margin-bottom: 32px;
}

.shortlist__title {
    width: calc(99.99% * 1 / 4 - (32px - 32px * 1 / 4));
    margin-bottom: 0;
}

.shortlist__title {
    margin: 0 0 calc(32px / 2);
    font-size: .85rem;
    letter-spacing: .25rem;
    color: $accent;
}

@media screen and (min-width: 480px) {
    .shortlist__title:nth-child(2n + 1) {
        clear: left;
    }
}

@media screen and (min-width: 480px) {
    .shortlist__title:nth-child(1n) {
        float: left;
        margin-right: 32px;
        clear: none;
    }
}

.shortlist__list li > span {
    font-size: .75rem;
    margin-left: calc(32px/4);
    color: #ccc;
}