// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900,900i');

// Variables
@import 'config/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Components
@import 'components/base';
@import 'components/bullet';
@import 'components/navigation';
@import 'components/hero';
@import 'components/poster-grid';
@import 'components/tabs';
@import 'components/social-sharing';
