// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//
$primary: #0c19bb !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   #fff !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Nunito Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:           Georgia, serif !default;
$font-family-monospace:       Menlo, "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$headings-font-weight:        900 !default;
$accent: #4fbfa8;
$accent-inactive: desaturate($accent, 85%);