<template>
    <div id="app" class="wrapper">

        <navigation/>

        <transition name="fade" mode="out-in" appear>
            <router-view
                :data="this.getData"
            />
        </transition>

    </div>
</template>

<script>

    // Import Components and Data
    import Data from './assets/data/data.js';
    import Navigation from './components/Navigation.vue';

    // Local Scope
    export default {
        name: 'App',
        metaInfo() {
            let metaData = {
                // if no subcomponents specify a metaInfo.title, this title will be used
                title: 'Helloooo',
                // all titles will be injected into this template
                titleTemplate: '%s | Hello',
            };

            if (this.$route.name === 'Index') {
                metaData.titleTemplate = '%s';
            }

            return metaData;
        },
        components: {
            'navigation': Navigation
        },
        computed: {
            getData() {
                return Data;
            }
        }
    }

</script>
